/* body {
  margin: 0;
} */

/* .section-header {
  text-align: right;
  font-size: 64px;
  color: #0000cc;
} */

header > img {
  width: 50%;
  border: 10px solid #ccc;
  border-radius: 10%;
}

a {
  text-decoration: dashed;
  color: #f01010;
  transition: 1s;
}

/* a:hover {
  color: #04ff19;
} */

.tools span {
  border: 1px solid #78dfe4;
  color: #114fed;
  padding: 5px 8px;
  display: inline-block;
  margin: 2px;
  border-radius: 8px;
  font-size: 0.8rem;
}

.positions {
  list-style-type: none;
}
